/* pastel background from http://www.colourlovers.com/palette/1250813/Pastel_Rainbow */
body {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  height: 100%; }

@-webkit-keyframes pastelRainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; } }

@-moz-keyframes pastelRainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; } }

@keyframes pastelRainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; } }

.container {
  background: linear-gradient(225deg, #ffabab, #ffdaab, #ddffab, #abe4ff, #d9abff);
  background-size: 300% 300%;
  border: 10px solid white;
  box-sizing: border-box;
  display: table;
  height: 100vh;
  margin: 0;
  position: relative;
  width: 100vw;
  -webkit-animation: pastelRainbow 25s ease infinite;
  -moz-animation: pastelRainbow 25s ease infinite;
  animation: pastelRainbow 25s ease infinite; }

.content-box {
  font-size: 5em;
  text-align: center; }

.info {
  text-align: center; }
  .info a {
    font-style: italic;
    padding: 4px;
    background-color: #d9abff;
    color: black;
    color: white;
    text-decoration: none;
    transition: all .25s ease; }
    .info a:hover {
      background-color: #abe4ff;
      transition: all .25s ease; }

.project-wrapper {
  display: inline-block; }
  .project-wrapper h1 {
    font-size: 1.5em;
    font-weight: 700; }

img.project-image {
  padding-bottom: 15px;
  width: 100%; }

a.project-link {
  text-decoration: none; }

.project-link h1 {
  background-color: #d9abff;
  display: inline;
  font-style: italic;
  padding: 5px;
  color: white; }
  .project-link h1:hover {
    background-color: #abe4ff;
    transition: all .25s ease; }

.single-project {
  text-align: center; }

.main-image {
  width: 600px;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px; }

a.back-link {
  text-transform: uppercase;
  font-size: .8em;
  font-style: italic;
  color: black;
  background-color: #d9abff;
  padding: 3px; }
  a.back-link:hover {
    background-color: #abe4ff;
    transition: all .25s ease; }

.single-project a {
  font-style: italic;
  padding: 4px;
  background-color: #d9abff;
  color: black; }
  .single-project a:hover {
    background-color: #abe4ff;
    transition: all .25s ease; }

img.cat-using-robokitty {
  display: inline-block;
  width: 400px; }
